<%- include('../fragments/staff-header', {pageTitle, "breadcrumbs": [{"name": "Subjects", "path": "/staff/subjects"}]}) %>

<div id="content">
  <div class="subjects listing">
    <h1 class="mt-4">Subjects</h1>
    <a class="btn btn-outline-secondary btn-sm my-2" href="/staff/subjects/new">Create New Subject</a>

    <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Position</th>
                <th>Visible</th>
                <th>Name</th>
                <th>Pages</th>
                <th>&nbsp;</th>
            </tr>
          </thead>

          <tbody>
          <% subjects.forEach(subject => { %>
            <tr>
              <td class="align-middle"><%= subject.id %></td>
              <td class="align-middle"><%= subject.position %></td>
              <td class="align-middle"><%= subject.visible %></td>
              <td class="align-middle"><%= subject.menuName %></td>
              <td class="align-middle"><%= subject.pages.length %></td>
              <td class="align-middle">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-outline-success" href="<%= `/staff/subjects/show/${subject.id}` %>">View</a>
                    <a type="button" class="btn btn-outline-primary" href="<%= `/staff/subjects/edit/${subject.id}` %>">Edit</a>
                    <a type="button" class="btn btn-outline-danger" href="<%= `/staff/subjects/delete/${subject.id}` %>">Delete</a>
                </div>
              </td>
            </tr>
          <% }) %>
          </tbody>
        </table>
    </div>

  </div>

</div>

<%- include('../fragments/staff-footer') %>
