<h1> <%= title %> </h1>

    <%- include('../../fragments/error-section') %> 

    <form action="<%= actionUrl %>" method="post">
      <dl>
        <dt>Menu Name</dt>
        <dd><input type="text" name="menuName" value="<%= subject.menuName %>" /></dd>
      </dl>
      <dl>
        <dt>Position</dt>
        <dd>
          <select name="position">
          <% for(let i = 1; i <= subjectsCount; i++) { %>
              <%- `<option value="${i}" ${subject.position === i ? ' selected' : ''}>${i}</option>` %>
          <% } %>
          </select>
        </dd>
      </dl>
      <dl>
        <dt>Visible</dt>
        <dd>
          <input type="checkbox" name="visible" value="true" <%= subject.visible ? ' checked' : '' %> />
        </dd>
      </dl>
      <div id="operations">
        <input type="submit" value="<%= submitButtonLabel %>" />
      </div>
    </form>