<h1 class="my-4"><%= title %></h1>

    <%- include('../../fragments/error-section') %>

    <form action="<%= actionUrl %>" method="post">
      <% if (subjects) { %>
        <div class="form-group row">
          <label for="subjectId" class="col-sm-2 col-form-label">Subject</label>
          <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-4 col-lg-3">
            <select id="subjectId" name="subjectId" class="form-control custom-select">
              <% subjects.forEach(subject => { %>
                <%- `<option value="${subject.id}" ${+page.subjectId === subject.id ? 'selected' : ''}>${subject.menuName}</option>` %>
              <% }) %>
            </select>
          </div>
        </div>
      <% } else { %>
        <input type="hidden" name="subjectId" value="<%= page.subjectId %>">
      <% } %>
        <div class="form-group row">
          <label for="menuName" class="col-sm-2 col-form-label">Menu Name</label>
          <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-4 col-lg-3">
            <input id="menuName" type="text" name="menuName" class="form-control" value="<%= page.menuName %>" />
          </div>
        </div>
        <div class="form-group row">
          <label for="position" class="col-sm-2 col-form-label">Position</label>
          <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-4 col-lg-3">
            <select id="position" name="position" class="form-control custom-select">
              <% for( let i = 1; i <= pagesCount; i++ ) { %>
                <%- `<option value="${i}" ${+page.position === i ? 'selected' : ''}>${i}</option>` %>
              <% } %>
            </select>
          </div>
        </div>
        <fieldset class="form-group row">
          <legend class="col-form-label col-3 col-sm-2 float-left pt-0">Visible</legend>
          <div class="col-9 col-sm-10">
            <div class="custom-control custom-checkbox">
              <input id="visible" class="custom-control-input" type="checkbox" name="visible" value="true" <%= page.visible ? ' checked' : '' %> />
              <label for="visible" class="custom-control-label"></label>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <label for="page-content" class="col-sm-2 col-form-label">Content</label>
          <div class="col-lg-8">
            <input id="upload-img" type="file" accept="image/jpeg, image/png" style="display: none;" />
            <textarea id="page-content" name="content" class="form-control" rows="10"><%= page.content %></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-10 offset-1 col-sm-4 offset-sm-0 col-md-3 col-lg-2">
            <button type="submit" class="btn btn-outline-primary btn-sm w-100"><%= submitButtonLabel %></button>
          </div>
        </div>
    </form>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Uploading image</h5>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>