<%- include('./fragments/public-header', {pageTitle, preview}) %>

<%- include('./fragments/public-navigation', {subjects, page, preview}) %>

<div id="main">



  <div id="page">

    <% if (page) { %>
      <%- page.content  %>
    <% } else { %>
      <%- include('./fragments/static-homepage') %>
    <% } %>

  </div>

  <script>
    const pageContentElement = document.querySelector('#page');
    pageContentElement.innerHTML = mdConverter.makeHtml(`<%= page.content %>`);
  </script>

</div>

<%- include('./fragments/public-footer') %>
