<%- include('../fragments/staff-header', { pageTitle,
breadcrumbs: [
{name: 'Subjects', path: '/staff/subjects'},
{name: page.subject.menuName, path: `/staff/subjects/show/${page.subject.id}`},
{name: page.menuName }
]}) %>

<div id="content">

  <div class="page show">

    <h1 class="my-4">
      Page: <%= page.menuName %>
      <span class="h5">
        <a class="badge badge-pill badge-warning" target="_blank" href="<%= `/?id=${page.id}&preview=true` %>">Preview</a>
        <a class="badge badge-pill badge-success" href="<%= `/staff/subjects/${page.subject.id}/pages/edit/${page.id}` %>">Edit</a>
        <a class="badge badge-pill badge-danger" href="<%= `/staff/subjects/${page.subject.id}/pages/delete/${page.id}` %>">Delete</a>
      </span>
    </h1>

    <dl class="row">
      <dt class="col-sm-2 lead text-black-50">Subject</dt>
      <dd class="col-sm-10 lead"><%= page.subject.menuName %></dd>
      <dt class="col-sm-2 lead text-black-50">Menu Name</dt>
      <dd class="col-sm-10 lead"><%= page.menuName %></dd>
      <dt class="col-sm-2 lead text-black-50">Position</dt>
      <dd class="col-sm-10 lead"><%= page.position %></dd>
      <dt class="col-sm-2 lead text-black-50">Visible</dt>
      <dd class="col-sm-10 lead"><%= page.visible %></dd>
      <dt class="col-sm-2 lead text-black-50">Content</dt>
      <dd class="col-sm-10">
        <iframe src="data:text/html;charset=utf-8,<%= encodeURIComponent(page.content) %>"></iframe>
      </dd>
    </dl>


  </div>

</div>

<%- include('../fragments/staff-footer') %> 
